<div class="container-fluid bg-white">
  <div class="container bg-white">

    <!-- ist row start -->
    <div class="row">
      <div class="col-lg-8 col-mg-8 col-sm-12 col-xs-12">
        <h2 class="headon">
          <strong>
            Appointment Details - {{ medicalRecord.patientName }}
          </strong>
        </h2>
      </div>
      <div class="col-lg-4 col-mg-4 col-sm-12 col-xs-12">
        <button *ngIf="identityTypeLookup === IdentityType.Doctor" class="call-btn"
          (click)="openVideoChatWindow(1)" title="{{'Call ' + medicalRecord.patientName}}">
          <i class="glyphicon glyphicon-earphone"></i>Call
        </button>
      </div>
    </div>
    <!-- ist row end  -->


      <!-- 2nd row start -->
      <div class="row dashboard-div-row">




          <div class="form-inline col-lg-7 col-mg-7 col-sm-12 col-xs-12">



            <div class="col-lg-4" *ngIf="identityTypeLookup === IdentityType.Patient">
              <button id="upload-report" name="UploadReport" class="btn btn-info dashboard-attach-btn " type="button"
                ng-disabled="!uploadedReportName || medicalRecord.medicalRecordData.caseStatusLookup !== caseStatus.Approved"
                (click)="updatePatientAppointmentDetails()">
                Attach Report
              </button>
            </div>
          </div>

        <!-- 2nd row end -->
      </div>
<!-- 3rd row start -->
      <div class="row">
        <div class="col-lg-8 col-mg-8 col-sm-12 col-xs-12">
          <p *ngIf="identityTypeLookup === IdentityType.Doctor" style="font-size: 12px;" class="note-info pl-4">
            <b>Note:</b> You can modify appointment information here. We will inform patient through email.</p>
              <div class="row status-row">
            <div class="Diagnosis-Icon col-12">
              <label> Diagnosis </label>
              <i class="fa fa-bars" aria-hidden="true" (click)="toggleDiagnosis()" style="float: right;"></i>
            </div>
            <div class="display-Array" *ngIf="showDiagnosisList">
              <div class="inputs col-md-12">
                <input type="text" class="form-control" [(ngModel)]="searchableDiagnosisText"
                  ng-keyup="onSearchDiagnosisList()" placeholder="Search Daignosis">
              </div>

              <div class="listOfSuggestArray">
                <li class="col-md-12" *ngFor="let suggestedItem of filteredListOfDiagnosis"
                  (click)="onSelectDiagnosis(suggestedItem)">
                  <span>
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    {{suggestedItem}}
                  </span>
                </li>
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <div class="div-Container" style="position: relative; height: 144px;">
                <div class="preferncessss">
                  <ul class="listing">
                    <li *ngFor="let item of selectedDiagnosis ; let i = index ">
                      <p>{{ i+ 1}}.{{item}}<input type="text"  class="input-box" [(ngModel)]=item.name>
                        <button class="btn btn-danger text-white" (click)="removeDiagnose($index)"> X</button> </p>
                    </li>
                  </ul>
                  <input id="diagnosisInputBox" [(ngModel)]="newDiagnosisValue" class="input-box"
                    placeholder="Add Diagnosis..." type="text" (keyup.enter)="addNewDiagnosis($event)">
                </div>
              </div>
            </div>

            <div class="Diagnosis-Icon col-12">
              <label> Prescription </label>
              <i class="fa fa-bars" aria-hidden="true" (click)="togglePrescriptions()" style="float: right; position: relative;"></i>

            <div class="display-Array" *ngIf="showPrescriptionList">
              <div class="inputs inputss col-md-12">
                <input type="search" class="form-control" [(ngModel)]="searchablePrescriptionText"
                  ng-keyup="onSearchPrescriptionsList() " placeholder="Search Medication">
              </div>
              <div class="listOfSuggestArray new">
                <ul>
                  <li *ngFor="let suggestedItem of filteredListOfPrescriptions"
                   (click)="onSelectPrescription(suggestedItem)">
                    <span>
                     <i class="glyphicon glyphicon-arrow-left"></i>
                     {{suggestedItem}}
                    </span>
                 </li>
                </ul>
              </div>
            </div>
          </div>
            <div class="col-lg-12 form-group">
              <div class="div-Container" style="position: relative; height: 144px;">
                <div class="preferncessss">
                  <ul class="listing">
                    <li *ngFor="let item of selectedPrescriptions ; let  i=index" >
                      <p>{{i + 1}} <input type="text" [(ngModel)]=item.medicineName class="input-box">
                        <input type="text" [(ngModel)]=item.dosage size="5" class="input-box">
                        <input type="text" [(ngModel)]=item.dosageDuration size="7" class="input-box">
                        <input type="text" [(ngModel)]=item.durationCount size="3" class="input-box">
                        <button class="btn btn-danger text-white" (click)="removeMeidcation($index)"> X</button> </p>
                    </li>
                  </ul>
                      <!-- <form name="preferenceform" class="frm_preference" ng-submit="addNewPrescription()" id="frm_preference"> -->
                          <input id="prescriptionValue" [(ngModel)]="newPrescriptionValue" class="input-box"
                            placeholder="Enter Prescription..." type="text" form="preferenceform" ng-required="true" size="15">
                          <input id="DosageValue" [(ngModel)]="newDosageValue" class="input-box"
                            placeholder="Dosage..." type="text" form="preferenceform" size="15">
                          <input id="DurationUnitValue" [(ngModel)]="newDurationUnitValue" class="input-box"
                           placeholder="Duration Unit..." type="text" form="preferenceform" size="15">
                          <input id="DurationCountValue" [(ngModel)]="newDurationCountValue" class="input-box"
                            placeholder="Duration Count..." type="text" form="preferenceform" size="15">
                          <button type="submit" class="btn btn-success" (click)="addNewPrescription()" >Add</button>
                      <!-- </form> -->

                </div>
              </div>
            </div>


          <div class="row text-center appointment-btn"
            *ngIf="medicalRecord.medicalRecordData.caseStatusLookup !== caseStatus.Expired">

            <button id="update-details" name="updateDetails" class="btn btn-info m-5" type="button"
              *ngIf="medicalRecord.medicalRecordData.caseStatusLookup !== caseStatus.Expired && identityTypeLookup === IdentityType.Doctor"
              (click)="updatePatientAppointmentDetails()">
              Complete Appointment
            </button>
          </div>


        </div>
        </div>

        <div class="col-lg-4 col-mg-4 col-sm-12 col-xs-12 ">
          <div class="dashboard-div-row details-height theme-gradient-border" >
              <div class="row">
              <div class="col-lg-12 form-group appointment-type-name">
                <span>{{ (medicalRecord.medicalRecordData.medicalRecordTypeLookup === 1
                        ? 'Online Appointment'
                        : 'WalkIn Appointment')
                      }}
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Appointment Number </label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ medicalRecord.medicalRecordData.appointmentNumber }}</span>
              </div>
            </div>

            <div class="row" *ngIf="identityTypeLookup ===  IdentityType.Patient">
              <div class="col-lg-6 form-group">
                <label> Doctor Name </label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ medicalRecord.doctorName }}</span>
              </div>
            </div>

            <div class="row" *ngIf="identityTypeLookup === IdentityType.Patient">
              <div class="col-lg-6 form-group">
                <label> Clinic Number </label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ medicalRecord.clinicContactNumber || '-' }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Appointment Date </label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ getDate(medicalRecord.medicalRecordData.appointmentDate) }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Age </label>
              </div>
              <div class="col-lg-6 form-group">
                <span *ngIf="medicalRecord.medicalRecordData.age > 0">
                  {{ medicalRecord.medicalRecordData.age }}
                  Years</span>
                <span *ngIf="medicalRecord.medicalRecordData.age === 0"> - </span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Weight </label>
              </div>
              <div class="col-lg-6 form-group">
                <span
                  *ngIf="medicalRecord.medicalRecordData.weight > 0">{{ medicalRecord.medicalRecordData.weight }}
                  Kg</span>

              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label>Height </label>
              </div>
              <div class="col-lg-6 form-group">
                <span
                  *ngIf="medicalRecord.medicalRecordData.height > 0">{{ medicalRecord.medicalRecordData.height }}
                  Inches</span>

              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Disability Type </label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ getDisabilityLookupText(medicalRecord.medicalRecordData.disabilityTypeLookup) }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Symptoms </label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ medicalRecord.medicalRecordData.symptoms || '-' }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 form-group">
                <label> Brief Histroy</label>
              </div>
              <div class="col-lg-6 form-group">
                <span>{{ medicalRecord.medicalRecordData.briefHistory || '-' }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>
  <!-- <div *ngIf="hasIncomingCall" class="call-overlay">
    <i class="glyphicon glyphicon-facetime-video"></i>
    <span id="incoming-call">Incoming Call</span>
    <hr>
    <img id="accept-call" src="/assets/accept.png" (click)="accepteCall()">
    <img id="decline-call" src="/assets/decline.png" (click)="declineCall()">
  </div> -->
