<div class="footer mt-4">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="/assets/logo (1).png" style="width: 100%;">
            </div>
            <div class="footer-about-content">
              <p> its is online plateforms for doctors and patient
                to commuincte with each other and its facilate every one from thir
                home base work
              </p>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">For Patient</h2>
            <ul>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Search For Doctors</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Login</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Register</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Booking</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Patient Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">For Doctors</h2>
            <ul>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Search For Doctors</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Login</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Register</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Booking</a>
              </li>
              <li>
                <i class="fa fa-angle-double-right forward-icon" aria-hidden="true"></i><a href="">Patient Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
                <p>3556 beech street ssam francosecp califorina vCA 6578</p>
              </div>
              <p>
                <i class="fa fa-phone" aria-hidden="true"></i> "+92453453454"
              </p>
              <p class="mb-0">
                <i class="fa fa-envelope" aria-hidden="true"></i>"@talk2doctor.com"
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="copyright">
        <div class="row">
          <div class="col-6">
            <div class="copyright-text">
              <p class="mb-0">@ 2020 Talk2Doctor . All rights reserved</p>
            </div>
          </div>
          <div class="col-6">
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li><a href=""></a>Terms and Conditions</li>
                <li><a href=""></a>Policy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
