<div class="container" *ngIf="noRecord == 0">
  <p>No Record Found</p>
</div>


<div *ngFor="let user of appointmentHistories" class="appointments">
  <div class="appointment-list">
    <div class="profile-info-widget">
      <a class="booking-doc-img">
        <img src="/assets/doctor.jpg">
      </a>
    </div>
    <div class="profile-det-info">
      <h3>{{user.patientName}}</h3>
      <div class="patient-details">
        <h5>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>{{user.onlineAppointmentRequestTime}}</span>
        </h5>
        <h5>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>{{user.patientLocation ? user.patientLocation: 'Sir syed colony Mandian Abbottabad'}}</span>
        </h5>
        <h5>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>{{user.email ? user.email: 'stylemarostyle43@gmail.com'}}</span>
        </h5>
        <h5>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>{{user.phonenumber ? user.phonenumber:'+923131515515'}}</span>
        </h5>

      </div>
    </div>
    <div class="appointment-action">
      <button class="btn color1" data-toggle="modal" data-target="#myModal" (click)="getAppointmentDetail(user.medicalRecordID)">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <!-- <a ui-sref="appointmentDetailView({medicalRecordId: user.medicalRecordID})" style="text-decoration: none"><span>View</span></a> -->
          <span >View</span>
      </button>
<!-- model -->
<div  id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Patient Detail</h4>
  </div>
  <div class="modal-body">
    <div class="dashboard-div-row details-height theme-gradient-border" >
      <div class="row">
      <div class="col-lg-12 form-group appointment-type-name">
        <span *ngIf="medicalRecord.medicalRecordData.medicalRecordTypeLookup === 1">
                Online Appointment
        </span>
        <span *ngIf="medicalRecord.medicalRecordData.medicalRecordTypeLookup === 2">
          Walk In Appointment
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label>Appointment Number</label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ medicalRecord.medicalRecordData.appointmentNumber }}</span>
      </div>
    </div>


    <div class="row" *ngIf="identityTypeLookup === IdentityType.Patient">
      <div class="col-lg-6 form-group">
        <label>Doctor Name</label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ medicalRecord.doctorName }}</span>
      </div>
    </div>

    <div class="row" *ngIf="identityTypeLookup === IdentityType.Patient">
      <div class="col-lg-6 form-group">
        <label> Contact Number</label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ medicalRecord.clinicContactNumber || '-' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Appointment Date  </label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ (medicalRecord.medicalRecordData.appointmentDate) }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Age </label>
      </div>
      <div class="col-lg-6 form-group">
        <span *ngIf="medicalRecord.medicalRecordData.age > 0">
          {{ medicalRecord.medicalRecordData.age }}
          Years</span>
        <span *ngIf="medicalRecord.medicalRecordData.age === 0"> - </span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Weight </label>
      </div>
      <div class="col-lg-6 form-group">
        <span
          *ngIf="medicalRecord.medicalRecordData.weight > 0">{{ medicalRecord.medicalRecordData.weight }}
          KG</span>
        <span *ngIf="medicalRecord.medicalRecordData.weight <0">-</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Height</label>
      </div>
      <div class="col-lg-6 form-group">
        <span
          *ngIf="medicalRecord.medicalRecordData.height > 0">{{ medicalRecord.medicalRecordData.height }}
          IN</span>
        <span *ngIf="medicalRecord.medicalRecordData.height < 0">-</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Disability  </label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ getDisabilityLookupText(medicalRecord.medicalRecordData.disabilityTypeLookup) }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Symptoms </label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ medicalRecord.medicalRecordData.symptoms || '-' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 form-group">
        <label> Brief Histroy </label>
      </div>
      <div class="col-lg-6 form-group">
        <span>{{ medicalRecord.medicalRecordData.briefHistory || '-' }}</span>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </div>

</div>
</div>





      <button class="btn  color2"  data-toggle="modal" data-target="#Accept">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span>Accept</span>
      </button>
      <div  id="Accept" class="modal fade" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Accept</h4>
            </div>
          <div class="model-body text-center">
            <p class="capt">Are you Want to Accept this Appointment</p>
            <div class="" style="margin-top: 25px ; margin-bottom: 25px">
              <button class="btn yess" (click)="updateAppointment(user.medicalRecordID,3)" data-dismiss="modal">Yes</button>
              <button class="btn noo" data-dismiss="modal">No </button>
            </div>
          </div>
            </div>
            </div>
          </div>

      <button class="btn  color3 " data-toggle="modal" data-target="#reject" (click)="emptyinputvalue()" >
          <i class="fa fa-times" aria-hidden="true"></i>
          <span>Cancel</span>
      </button>
      <div  id="reject" class="modal fade" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cancel</h4>
            </div>
          <div class="model-body text-center">
            <p class="capt">Are you Want to Cancel this Appointment</p>
            <input type="text" class="form-control col-9 " style="margin-left:69px" placeholder="Please Clarify the Reason of Cancel" [(ngModel)]="rejectinput">
            <div class="" style="margin-top: 25px ; margin-bottom: 25px">
              <button class="btn yess" [disabled] = "rejectReason()" (click)="updateAppointment(user.medicalRecordID,2)" data-dismiss="modal">Yes</button>
              <button class="btn noo" data-dismiss="modal">No </button>
            </div>
          </div>
            </div>
            </div>
          </div>
    </div>
  </div>
</div>
